<form method="post" action="{{ action }}">
  {% for group, fields in schema.groups.items() %}
    <h5>{{ group }}</h5>

    {% for field in fields %}
      <div class="mb-3">
        {% if field.ui == "checkbox" %}
          <div class="form-check">
            <input id="{{field.name}}"
                   type="checkbox"
                   class="form-check-input"
                   name="{{ field.name }}"
                   {% if field.value %}checked{% endif %}
            >
            <label for="{{field.name}}" class="form-label">{{ field.meta.label }}</label>
          </div>
        {% elif field.ui == "number" %}
          <label for="{{field.name}}" class="form-label">{{ field.meta.label }}</label>
          <input id="{{field.name}}"
                 type="number"
                 class="form-control"
                 name="{{ field.name }}"
                 value="{{ field.value }}"
                 min="{{ field.min }}"
                 max="{{ field.max }}"
                 step="{{ field.step }}"
                 {% if field.meta.required %}required{% endif %}
          >
        {% elif field.ui == "select" %}
          <label for="{{field.name}}" class="form-label">{{ field.meta.label }}</label>
          <select id="{{field.name}}"
                  class="form-select"
                  name="{{ field.name }}"
          >
            {% for option in field.options %}
            <option value="{{ option }}"
              {% if option == field.value %}selected{% endif %}
            >
              {{ option }}
            </option>
            {% endfor %}
          </select>
        {% else %}
          <label for="{{field.name}}" class="form-label">{{ field.meta.label }}</label>
          <input id="{{field.name}}"
                 type="text"
                 class="form-control"
                 name="{{ field.name }}"
                 value="{{ field.value or "" }}"
                 {% if field.meta.required %}required{% endif %}
          >
        {% endif %}

        <div id="{{ field.name }}Help" class="form-text">{{ field.meta.help or "" }}</div>
      </div>
    {% endfor %}
  {% endfor %}

  <button class="btn btn-primary">Save</button>
</form>
